.flexbox.clearfix
  = render partial: "shared/side_bar"
  .right

    .chat__title

      .edit__btn
        Edit

    .chat__his
      .his1
        
    .send__text
      .type_text
        %input{type: "text", placeholder:"  Type a Message", class: "input"}
        .image_tag
          = fa_icon 'image', class: "contents__btn--icon"
       
        
      .send
        Send
    
