.flexbox{
  display: block;
  font-family: Hiragino Maru Gothic Pro;
  .right {
    width: calc(100vw - 300px);
    height: 100vh;
    float: right;
    background-color: #CC99FF;

    .chat__title{
      background-color: #FAFAFA;
      font-size: 20px;
      width: calc(100vw-300px);

      height: 100px;
      padding: 0 40px;
      display: flex;
      justify-content: space-between;
      border-bottom: solid 1px #eee;
      overflow: scroll;

      align-items: center;
    }
      .edit__btn{
        height: 40px;
        width: 80px;
        display: block;
        line-height: 40px;
        padding: 0 20px;
        margin-top: 30px;
        border: solid 1px #38aef0;
        color: #38aef0;
        position: absolute;
        right: 40px;
        box-sizing: border-box;
        margin: auto;
        font-size: 15px;
      }
    }

    .chat__his{
      background-color: #FAFAFA;
      height: calc(100vh - 190px);
      overflow: scroll;


      .his1{
        height:50px;
        padding: 30px 40px;
          }
     }

  .send__text{
      width: calc(100vw-300px);
      height: 50px;
      padding: 20px 40px;
      background-color: #ddd;
      display: flex;
      position: relative;
  

    .type_text{
      height: 50px;
      width: 900px;
      background-color: white;
      color:#E6E6E6;
      text-align: left;
      position: relative;
      

      .input{
        height: 50px;
        width: 900px;
        color: #434a54;
        border-style: none;  
        
      }

      .image_tag{
        float: right;
        box-sizing: border-box;
        width: 10px;
        height: 10px;
        }

      ::placeholder{
        text-align: left;
        line-height: 50px;
       }
    }
    
      .send{
      width: 100px;
      height: 50px;
      margin-left: 15px;
      background-color: #38aef0;
      color: white;
      cursor: pointer;
     float: right;
      text-align: center;
      line-height: 50px;

    }
  }

  .contents__btn--icon
  {
    color: black;
    position: absolute;
    top: 15px;
    right:15px;

  }



}

.left {
  width: 300px;
  height: 100vh;
  float: left;
  background-color: #2f3e51;
  color: #FFFFFF;

    .user__name {
      width: 300px;
      height: 100px;
      padding: 40px 20px 20px 20px;
      box-sizing: border-box;
      background-color: #253141;
  
      .name{
        font-weight: 16px;
        display: inline;
        font-size: 20px;
  
      }

  
      a{
        color: white;
        display: inline;
        text-decoration: none;
      }
    }
  
    .left_box{
      width: 100%;
      height: 100%;


  
      .upup{
        width: 300px;
        height: 100px;
        display: inline;
        background-color: lightblue;
        // float: right;
        line-height: 100px;

        .up1{
          padding: 0 30px;
          color: white;
        }
        .up2{
          padding: 0 30px;
          color: white;
        }
      }
    }    
  }

.clearfix::after { 
  content: "";
  display: block;
  clear: both;
}

.new {
  padding-top: 5px;
  display: inline-block;
  float: right;
}